
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p class="footer-Ang">Completed by Student: Jen Ortega</p>
    <p class="footer-me">Made with ❤️ by The App Brewery</p>
  </div>
</div>
</body>
</html>
